.header__links {
  display: flex;
  color: #fff;
  text-decoration: none;
  font-size: 24px;
  line-height: 28px;
  font-weight: normal;
  transition: .5s;
  margin-left: 18px;
}

.header__links:hover {
  opacity: .8;
  transition: .5s;
}

@media screen and (max-width: 720px) {
  .header__links {
    font-size: 18px;
    line-height: 20px;
 }
}