.page {
  margin: 0 auto;
  font-family: 'Inter', 'Arial', sans-serif;
  background-color: #2A2C2F;
  color: #fff;
}

.header {
  display: flex;
  box-sizing: border-box;
  justify-content: space-between;
  max-width: 1280px;
  padding: 0 48px;
  margin: 24px auto 0;
}

@media screen and (max-width: 768px) {
  .header {
    padding: 0 24px;
 }
}

.header__lang-link {
  display: flex;
}

.header__links {
  color: #fff;
  text-decoration: none;
  font-size: 24px;
  font-weight: normal;
  transition: .5s;
}

.header__links:hover {
  opacity: .7;
  transition: .5s;
}

.header__lang-link_active {
  text-decoration: underline;
  margin: 18px 18px 6px 0;
}

.header__lang-link_diactive {
  margin: 18px 0 6px;
}



.lead {
  box-sizing: border-box;
  max-width: 1280px;
  padding: 0 148px;
  margin: 56px auto 0;
}

@media screen and (max-width: 1024px) {
  .lead {
    margin-top: 48px;
    max-width: 928px;
    padding: 0;
 }
}

.lead_title {
  width: 720px;
  font-size: 96px;
  line-height: 100px;
  font-weight: 900;
  text-align: center;
  margin: 0 auto;
}

.lead_subtitle {
  width: 640px;
  font-size: 30px;
  line-height: 36px;
  font-weight: 400;
  text-align: center;
  margin: 32px auto 0;
}

.lead__image {
  max-width: 100%;
  object-fit: cover;
  margin: 64px auto 0;
}

@media screen and (max-width: 1024px) {
  .lead__image {
    margin-top: 56px;
 }
}

.lead__caption {
  margin: 8px 0 0;
  font-size: 10px;
  line-height: 14px;
  font-weight: 400;
  letter-spacing: 0.15em;
  text-transform: uppercase;
}




.intro {
  width: 690px;
  margin: 92px 442px 0 148px;
}

@media screen and (max-width: 1024px) {
  .intro {
    margin-left: 48px;
 }
}

@media screen and (max-width: 768px) {
  .intro {
    margin: 88px 0 0 24px;
 }
}


.intro__title {
  width: 690px;
  font-size: 54px;
  line-height: 58px;
  font-weight: 900;
  margin: 0;
}

.intro__text {
  width: 690px;
  font-size: 16px;
  line-height: 163%;
  font-weight: 400;
  margin: 40px 0 0;
}

.intro__list {
  width: 690px;
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
  margin: 33px 0 0;
}




.photo-grid {
  display: grid;
  flex-wrap: wrap;
  max-width: 1184px;
  margin: 92px auto 0;
  grid-template-columns: repeat(4, 284px);
  grid-template-rows: repeat(3, 213px);
  gap: 16px;
  box-sizing: border-box;
}

@media screen and (max-width: 1200px) {
  .photo-grid {
    grid-template-columns: repeat(3, 300px);
    grid-template-rows: repeat(4, 225px);
    gap: 16px;
    justify-content: center;
 }
}

@media screen and (max-width: 950px) {
  .photo-grid {
    margin-top: 88px;
    grid-template-columns: repeat(2, 352px);
    grid-template-rows: repeat(6, 268px);
    gap: 14px;
 }
}

.photo__item {
  width: 100%;
}





.places {
  max-width: 1280px;
  padding: 0 148px;
  margin: 92px auto 0;
}

@media screen and (max-width: 1120px) {
  .places {
 }
}

.place {
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 80px;
  width: 984px;
  min-height: 400px;
}

@media screen and (max-width: 1150px) {
  .place {
 }
}

@media screen and (max-width: 1000px) {
  .place {
 }
}

.place:first-of-type {
  margin-top: 0;
}

.place__first-box {
  display: flex;
}

.place__title {
  width: 460px;
  font-size: 72px;
  line-height: 76px;
  font-weight: 900;
  margin: 0;
}

@media screen and (max-width: 1120px) {
  .place__title {
 }
}

@media screen and (max-width: 1000px) {
  .place__title {
 }
}

.place__website {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  min-width: 456px;
  margin-left: 40px;
}

.place__url-heading {
  max-width: 456px;
  font-size: 12px;
  line-height: 12px;
  font-weight: 400;
  letter-spacing: 0.2em;
  margin: 0;
  margin-bottom:12px;
}

@media screen and (max-width: 1150px) {
  .place__url-heading {
 }
}

@media screen and (max-width: 1000px) {
  .place__url-heading {
 }
}

.place__url-heading_size {
  margin-top: 30px;
}


.place__link {
  color: #FFF;
  max-width: 456px;
  font-size: 18px;
  line-height: 22px;
  font-weight: 400;
  text-decoration-line: underline;
  margin: 0;
  transition: .5s;
}

@media screen and (max-width: 1150px) {
  .place__link {
 }
}

.place__link:hover {
  opacity: .7;
  transition: .5s;
}


.place__second-box {
  display: flex;
}


.place__image {
  max-width: 460px;
  height: 460px;
  margin: 48px 0 0;
}

@media screen and (max-width: 1120px) {
  .place__image {
 }
}

@media screen and (max-width: 1000px) {
  .place__image {
 }
}

.place__third-box {
  max-width: 484px;
  margin: 48px 0 0 40px;
}

.place__paragraph {
  max-width: 484px;
  font-size: 18px;
  line-height: 163%;
  font-weight: 400;
  margin: 0;
  margin-top: 48px;
}

.place__paragraph:first-child {
  margin-top: 0;
}


@media screen and (max-width: 1150px) {
  .place__paragraph {
 }
}



.cover {
  display: flex;
  position: relative;
  box-sizing: border-box;
  max-width: 1280px;
  height: 740px;
  padding: 0 48px;
  margin: 92px auto 0;
}

@media screen and (max-width: 1024px) {
  .cover {
    padding: 0;
    height: 640px;
 }
}

.cover__item {
  background-image: url(./images/__background.png);
  width: 100%;
  height: 100%;
  text-decoration: none;
  background-size: cover;
}


.cover__fone {
  display: flex;
  position: absolute;
  width: 1184px;
  height: 740px;
  background: #2A2C2F;
  margin: auto;
  opacity: 0.3;
  transition: .5s;
}

.cover__fone:hover {
  opacity: 0.8;
  transition: .5s;
}

@media screen and (max-width: 1024px) {
  .cover__fone {
    height: 640px;
 }
}

.cover__title {
  position: relative;
  width: 560px;
  font-size: 72px;
  line-height: 76px;
  font-weight: 900;
  margin: 200px auto 0;
  text-align: center;
  color: #fff;
}

.cover__subtitle {
  position: relative;
  width: 360px;
  font-size: 18px;
  line-height: 22px;
  font-weight: 400;
  margin: 32px auto 0;
  text-align: center;
  color: #fff;
  z-index: 2;
}





.footer {
  display: flex;
  justify-content: space-between;
  max-width: 1280px;
  padding: 0 48px;
  margin: 92px auto 24px;
}

.footer__link {
  text-decoration: none;
  color: #fff;
  margin-right: 18px;
  font-size: 16px;
  line-height: 18px;
  transition: .5s;
}

.footer__link:hover {
  opacity: .7;
  transition: .5s;
}

.footer__link:last-child {
  margin-right: 0;
}

.footer__copyright {
  margin: 0;
  font-size: 14px;
  line-height: 16px;
  align-self: flex-end;
}